.nproject
Makefile
autom4te.cache/
compile
config.h
config.h.in~
config.log
config.status
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
src/.deps/
src/Makefile
src/*.o
src/gueda
stamp-h1

Makefile.in
aclocal.m4
config.h.in
configure
